Django
djangorestframework
django-filter
django-rest-passwordreset
psycopg2-binary
python-dotenv
requests
PyYAML
django-allauth
django-etc
redis
celery
drf-spectacular
drf-spectacular-sidecar
gunicorn